@model List<Product>

@{
    ViewData["Title"] = "Index";
}

<!-- PRODUCTS START -->

<section id="products">
    <div class="container">
        <input type="hidden" id="productsCount" value="@ViewBag.ProductsCount"/>
        <div class="row" id="productList">
            @await Component.InvokeAsync("Product", new{take = 3, skip = 0})
        </div>
        <div class="row justify-content-center mb-5">
            <button class="btn btn-success" id="loadMore">Load More...</button>
        </div>
    </div>
</section>

<!-- PRODUCTS END -->

