@model Slider
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<h1>Detail</h1>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><img src="~/img/@Model.ImageUrl" style="width:100%; height:auto"/></h4>
            </div>
        </div>
    </div>

    <a class="btn btn-dark" asp-controller="slider" asp-action="index">Go Back</a>

</div>

